In [1]:
import cv2
import imutils
import numpy as np
import pandas as pd

In [2]:
img1 = cv2.imread("img1.jpg")
img2 = cv2.imread("img2.jpg")

In [3]:
print("Shape : ",img1.shape)
print("Shape : ",img2.shape)

Shape :  (628, 498, 3)
Shape :  (628, 499, 3)

In [4]:
rows, cols = img1.shape[:2]
last_pixel = img1[rows-1, cols-1]

print("last pixel of img1[{}, {}] --> {}".format(rows-1, cols-1, last_pixel))

last pixel of img1[627, 497] --> [72 60 54]

In [5]:
rows, cols = img2.shape[:2]
last_pixel = img2[rows-1, cols-1]

print("last pixel of img2[{}, {}] --> {}".format(rows-1, cols-1, last_pixel))

last pixel of img2[627, 498] --> [69 54 52]

In [6]:
def resize_big_to_small_image(img1, img2):
    h1, w1 = img1.shape[:2]
    h2, w2 = img2.shape[:2]

    # Resize the larger image to the size of the smaller image
    if h1 > h2 or w1 > w2:
        img1 = cv2.resize(img1, (w2, h2), interpolation = cv2.INTER_CUBIC)
    else:
        img2 = cv2.resize(img2, (w1, h1), interpolation = cv2.INTER_CUBIC)
        
    return img1, img2

In [7]:
img1, img2 = resize_big_to_small_image(img1, img2)

In [8]:
print("Shape : ",img1.shape)
print("Shape : ",img2.shape)

Shape :  (628, 498, 3)
Shape :  (628, 498, 3)

## Spotting the difference

In [9]:
def compare_images(img1, img2):
    dict1 = {}
    for i in range(img1.shape[0]):
        for j in range(img1.shape[1]):
                if not np.array_equal(img1[i][j], img2[i][j]):
                    value = []
                    index = (i,j)
                    value.append(img1[i][j])
                    value.append(img2[i][j])
                    dict1[index] = value
    return dict1

In [ ]:
hash_dict = compare_images(img1, img2)

In [10]:
def extract_values(lst):
    return lst[0], lst[1]

In [11]:
df = pd.DataFrame(list(hash_dict.items()), columns=['Index', 'image-1_and_image-2_pixel'])

df.head()

    Index           image-1_and_image-2_pixel
0  (0, 0)          [[7, 38, 23], [9, 26, 23]]
1  (0, 1)  [[136, 170, 160], [127, 148, 149]]
2  (0, 2)  [[215, 252, 250], [217, 246, 250]]
3  (0, 3)  [[202, 242, 247], [210, 249, 255]]
4  (0, 4)  [[190, 236, 247], [192, 241, 251]]

In [12]:
df[['image-1 pixel', 'image-2 pixel']] = df['image-1_and_image-2_pixel'].apply(extract_values).apply(pd.Series)
df.drop('image-1_and_image-2_pixel', axis=1, inplace=True)

df.head()

    Index    image-1 pixel    image-2 pixel
0  (0, 0)      [7, 38, 23]      [9, 26, 23]
1  (0, 1)  [136, 170, 160]  [127, 148, 149]
2  (0, 2)  [215, 252, 250]  [217, 246, 250]
3  (0, 3)  [202, 242, 247]  [210, 249, 255]
4  (0, 4)  [190, 236, 247]  [192, 241, 251]

## Copying the image-2 pixel values into image-1 pixel values

In [13]:
def mse(img1, img2):
    h, w, c = img1.shape
    diff    = cv2.subtract(img1, img2)
    err     = np.sum(diff**2)
    mse     = err/(float(h*w))
    return mse

In [14]:
mse(img1, img2)

102.40475276903794

In [15]:
## chaging only the mis-matched values
for i in range(len(df)):
    ## 1st column           2nd column
    img1[df.iloc[i][1]] = img2[df.iloc¥[i][2]]

In [16]:
mse(img1, img2)

117.44698219630112

In [18]:
hash_dict = compare_images(img1, img2)

In [19]:
df = pd.DataFrame(list(hash_dict.items()), columns=['Index', 'image-1_and_image-2_pixel'])

df.head()

    Index           image-1_and_image-2_pixel
0  (0, 0)      [[162, 140, 134], [9, 26, 23]]
1  (0, 1)  [[159, 137, 131], [127, 148, 149]]
2  (0, 2)  [[146, 124, 118], [217, 246, 250]]
3  (0, 3)  [[152, 130, 124], [210, 249, 255]]
4  (0, 4)  [[158, 134, 128], [192, 241, 251]]

In [20]:
# Compute the absolute difference between the pixel values of the two images
diff = cv2.absdiff(img1, img2)

# Copy the differing pixels from the difference image to the second image
img2 = np.where(diff != 0, diff, img2)

In [24]:
cv2.imwrite("img2.jpg", img2)

True

In [25]:
img1 = cv2.imread("img1.jpg")
img2 = cv2.imread("img2.jpg")

In [26]:
hash_dict = compare_images(img1, img2)
df = pd.DataFrame(list(hash_dict.items()), columns=['Index', 'image-1_and_image-2_pixel'])

df.head()

    Index          image-1_and_image-2_pixel
0  (0, 0)     [[7, 38, 23], [166, 112, 119]]
1  (0, 1)     [[136, 170, 160], [32, 8, 16]]
2  (0, 2)  [[215, 252, 250], [90, 121, 130]]
3  (0, 3)  [[202, 242, 247], [56, 120, 131]]
4  (0, 4)  [[190, 236, 247], [34, 106, 123]]

In [27]:
img1

array([[[  7,  38,  23],
        [136, 170, 160],
        [215, 252, 250],
        ...,
        [ 52,  37,  35],
        [ 67,  48,  33],
        [ 62,  43,  28]],

       [[  8,  39,  30],
        [136, 170, 164],
        [213, 248, 251],
        ...,
        [ 54,  39,  37],
        [ 63,  46,  33],
        [ 59,  42,  29]],

       [[  4,  36,  35],
        [128, 163, 167],
        [208, 244, 254],
        ...,
        [ 56,  41,  39],
        [ 57,  42,  33],
        [ 55,  40,  31]],

       ...,

       [[128, 188, 254],
        [117, 184, 253],
        [104, 180, 255],
        ...,
        [ 63,  48,  46],
        [ 62,  48,  42],
        [ 71,  59,  53]],

       [[123, 184, 252],
        [102, 171, 241],
        [ 86, 164, 241],
        ...,
        [ 70,  55,  53],
        [ 63,  49,  43],
        [ 72,  60,  54]],

       [[117, 182, 251],
        [ 91, 160, 233],
        [ 73, 152, 231],
        ...,
        [ 74,  59,  57],
        [ 63,  49,  43],
        [ 72,  60,  54]]], dtype=uint8)

In [ ]:
img1 = cv2.imread("img1.jpg")
img2 = cv2.imread("img2.jpg")

In [ ]:
height, width, channels = img.shape
for i in range(height):
    for j in range(width):
        # Modify the individual pixel values
        img[i, j] = (255, 0, 0)